<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--skqe mzmr fcyq vveq-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_wback"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_wback"
        android:supportsRtl="true"
        android:theme="@style/Theme.HidroGestion"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBklrKhfuYvRQfRKD2QHQzpMt3LwBr1OUQ" />

        <!-- LoginActivity como actividad principal -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (no necesita intent-filter) -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignupActivity"
            android:exported="false" />

    </application>
</manifest>